body {
  font-family: Georgia, serif;
  margin: 0 8px;
}

a {
  text-decoration: none;
  color: darkOrange;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  font-weight: normal;
}

aside {
  background: #f0f0f0;
  padding: 2px 8px;
  border-left: 4px solid #b0b0b0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside h3:before {
  content: 'Optional Reading: ';
  text-transform: uppercase;
  font-size: 0.9em;
  color: gray;
}

button,
input[type="submit"],
input[type="reset"] {
  font-size: larger;
  background: darkOrange;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
}

button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background: orange;
}

pre, code, textarea {
  font-family: Monaco, "Lucida Console", monospace;
  font-size: smaller;
}

textarea {
  padding: 1px;
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 816px) {
  body {
    width: 800px;
    margin: 0 auto;
  }
}
