{% extends "layout.html" %}

{% block body %}
<a href="https://github.com/toolness/badgelab"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<h1>Welcome to Badge Lab.</h1>

<p>Use the button below to start a customized tutorial, where you can create your very own “hand-made” <a href="http://openbadges.org/">Open Badges</a> Badge.</p>

<button id="start">Start Tutorial</button>

<script>
document.getElementById("start").onclick = function() {
  // Hopefully this won't collide with anyone else's tutorial "instance".
  var number = Math.floor(Math.random() * 100000);
  window.location = '/tutorial/' + number;
};
</script>
{% endblock %}
