{% extends "layout-bucket.html" %}

{% block content %}
<pre class="prettyprint lang-js">{{ bucketContent }}</pre>
{% endblock %}

{% block form %}
<form method="POST">
  <textarea name="json" rows="25"
   maxlength="{{ maxContentSize }}">{{ bucketContent }}</textarea>
  <p>
  <input type="submit" value="Submit">
</form>

<script>
document.querySelector("form textarea").onchange = function() {
  var value = this.value.trim();

  if (value) {
    try {
      JSON.parse(value);
    } catch (e) {
      return this.setCustomValidity("This is not valid JSON.");
    }
  }

  this.setCustomValidity("");
};
</script>
{% endblock %}
