<link rel="stylesheet" href="/prettify.css">

{% if bucketContent %}
  <p>What's here now:</p>
  <pre class="prettyprint lang-js">{{ bucketContent|e }}</pre>
{% else %}
  <p>404 - NOTHING IS HERE NOW.</p>
{% endif %}

<p>Use the form below to change what's here now.</p>

<form method="POST">
  <textarea name="json" cols="80" rows="25" maxlength="{{ maxContentSize }}">{{ bucketContent }}</textarea>
  <p>
  <input type="submit" value="Submit">
</form>

<script src="/prettify.js"></script>
<script>
onload = prettyPrint;

document.querySelector("form textarea").onchange = function() {
  var value = this.value.trim();

  if (value) {
    try {
      JSON.parse(value);
    } catch (e) {
      return this.setCustomValidity("This is not valid JSON.");
    }
  }

  this.setCustomValidity("");
};
</script>
