{% extends "layout.html" %}

{% block title %}Badge Lab Tutorial #{{name}}{% endblock %}

{% block head %}
<style>
.step {
  font-size: larger;
}
</style>
{% endblock %}

{% block body %}
<h1>Badge Lab Tutorial #{{name}}</h1>

<p>Welcome to Badge Lab Tutorial #{{name}}. There are many like it, but
  this one is yours.</p>

<p>This tutorial assumes that you have your <a href="http://toolness.github.io/hackasaurus-parable/navigator-badge/">navigator badge</a> and a rudimentary knowledge of <a href="http://en.wikipedia.org/wiki/JSON#Data_types.2C_syntax_and_example">JSON</a> syntax.</p>

<p>In this tutorial, you will create your very own
  “hand-made” <a href="http://openbadges.org/">Open Badges</a> Badge by
  constructing and linking together the mandatory parts of a badge, 
  whose structure is diagrammed below.</p>

<p><center><img src="/img/badge-anatomy.png"></center></p>

<p>Don’t worry about what each of these parts mean yet; that will be explained to you along the way. but you may want to occasionally refer back to the above diagram to understand how everything fits together.</p>

<p>Finally, this tutorial uses some built-in tools that make it quick and easy for you to play around with badge creation. However, the badge you create will only exist temporarily on the internet, so you shouldn’t use it to issue real badges. If you host your own website via a service like <a href="http://www.dreamhost.com/">Dreamhost</a>, however, you can use the skills learned here to make real badges and host them on your domain.</p>

<p>With that out of the way, let’s begin.</p>

<p><small>Note: This tutorial currently only covers unsigned badges; for information on creating signed badges, see the <a href="https://github.com/mozilla/openbadges/wiki/Assertions">specification</a>.</small></p>

<h2>Creating the issuer metadata</h2>

<p>Issuer metadata contains information about you (or your organization). You only have to create this file once; all the badges you create will reference this file, so you don’t need to duplicate the information for every badge you issue.</p>

<p>Just visit <a href="{{baseUrl}}issuer.json">{{baseUrl}}issuer.json</a> and paste in the following content:</p>

<pre class="prettyprint lang-js">{
  "name": "YOUR NAME GOES HERE",
  "url": "{{ origin }}"
}</pre>

<p>Feel free to change the value of <code>name</code> to anything you want. There are more optional fields you can add, too; see the <a href="https://github.com/mozilla/openbadges/wiki/Assertions#wiki-issuer-organization">IssuerOrganization</a> documentation for more information.</p>

<h2>Creating the badge image</h2>

<p>Every badge needs a square PNG image less than 256K in size. Visit <a href="{{baseUrl}}badge.png">{{baseUrl}}badge.png</a> and upload one; if you don’t have one, consider using <a href="/img/spacecat.png">spacecat</a>.</p>

<h2>Defining the badge criteria</h2>

<p>This is just a page that explains the criteria for anyone who is awarded your badge.</p>

<p>Visit <a href="{{baseUrl}}criteria.txt">{{baseUrl}}criteria.txt</a> and type whatever criteria you want. Badges hosted on this site only allows text content to be on the criteria page for security purposes; when you host your own badges on your own domain, however, you’ll be able to set it to whatever HTML content you like.</p>

<h2>Creating the badge class metadata</h2>

<p>A badge class is a <em>type</em> of badge rather than a specific instance of one. For instance, a badge class might be <em>HTML Noob</em>, while instances of the class might be the specific <em>HTML Noob</em> badges awarded to Lars and Jess.</p>

<p>Visit <a href="{{baseUrl}}class.json">{{baseUrl}}class.json</a> and paste in the following content:</p>

<pre class="prettyprint lang-js">{
  "name": "BADGE NAME GOES HERE",
  "description": "ONE SENTENCE BADGE DESCRIPTION GOES HERE",
  "image": "{{baseUrl}}badge.png",
  "criteria": "{{baseUrl}}criteria.txt",
  "issuer": "{{baseUrl}}issuer.json"
}</pre>

<p>Feel free to change the values of <code>name</code> and <code>description</code> to whatever you want. There are more optional fields you can add, too; see the <a href="https://github.com/mozilla/openbadges/wiki/Assertions#wiki-badge-class">BadgeClass</a> documentation for more information.</p>

<p>Notice how the URLs you created in the previous steps are all linked-to by the badge class metadata. Open Badges tools like backpacks will follow these links to discover everything about your badge class.</p>

<h2>Creating the badge instance metadata</h2>

<p>To issue your badge to a specific person, you need to create instance metadata.</p>

<p>Visit <a href="{{baseUrl}}1.json">{{baseUrl}}1.json</a> and paste in the following:</p>

<pre class="prettyprint lang-js">{
  "uid": "{{name}}#1",
  "recipient": {
    "type": "email",
    "hashed": false,
    "identity": "RECIPIENT@DOMAIN.COM"
  },
  "issuedOn": "{{ now }}",
  "badge": "{{baseUrl}}class.json",
  "verify": {
    "type": "hosted",
    "url": "{{baseUrl}}1.json"
  }
}</pre>

<p>You’ll want to change the value of <code>recipient.identity</code> to a real email address. There are more optional fields you can add, too; see the <a href="https://github.com/mozilla/openbadges/wiki/Assertions#badgeassertion">BadgeAssertion</a> documentation for more information.</p>

<p>As you may have intuited, the JSON file you’ve just created is called a <em>badge assertion</em>. Issuing your badge to another user is as simple as creating another JSON file, for example at <a href="{{baseUrl}}2.json">{{baseUrl}}2.json</a>, and dropping in slightly different metadata (specifically, changing <code>uid</code>, <code>recipient.identity</code>, and <code>verify.url</code>). There is no need to duplicate badge class information, since every instance points to the same badge class metadata URL.</p>

<p><small>Note: Hiding the email address of the recipient is possible, but currently outside the scope of this tutorial. See the documentation for <a href="https://github.com/mozilla/openbadges/wiki/Assertions#wiki-identity-object">IdentityObject</a> for more information on how to do this.</small></p>

<h2>Baking the assertion URL into an image</h2>

<p>At this point, you have essentially created your badge—you just need a way of giving it to the recipient. One way to do this is by “baking” the badge image by using a tool to hide the assertion URL inside a copy of the badge image. You can then give this baked badge to the recipient, who can upload the image to their backpack, or use it with other Open Badges tools.</p>

<p>To do this, just visit <a href="http://bakery.mofostaging.net/">bakery.openbadges.org</a> and paste in your assertion URL. It will give you back a PNG that looks just like your badge’s PNG, but contains your assertion URL hidden inside it. Just give this PNG to your recipient and make sure they know what to do with it.</p>

<p>Congratulations, you’ve just issued your first hand-made badge!</p>

<p><small>Note: You can also use the <a href="https://github.com/mozilla/openbadges/wiki/Issuer-API">Issuer API</a> or the <a href="https://github.com/mozilla/openbadges/wiki/Backpack-Connect:-Issuer-Documentation">Backpack Connect API</a> to push the badge to the recipient’s backpack, but these are currently outside the scope of this tutorial.</p>

{% endblock %}
